#NavBarMenu{
    color:white;
    font-size:15px;
    margin: 10px;
    padding: 20px;    
    text-decoration: none;
    font-family:"Century Gothic";
    font-weight: 600;
}
#ActiveMenu{
    color:black;
    font-size:15px;
    padding: 10px;
    margin:5px;
    text-decoration: none;
    font-family:"Century Gothic";
    font-weight: 600;
    background: white;
}
